.iconContainer {
  height: 152px;
  width: 85px;
  display: flex;
  justify-content: center;
  align-items: center;

  & a {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .iconContainer {
    display: none;
  }
}