.iconContainer {
  height: 100px;
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;

  & a {
    display: flex;
  }

  &:first-child {
    //position: absolute;
    //left: -85px;
  }
}

@media screen and (max-width: 1024px) {
  .iconContainer {
    display: none;
  }
}

.imgWrapper {
  & img {
    border-radius: 32px;
  }
}