$black: #070707;
$light-grey: #838383;
$white: #ffffff;
$grey: #9e9e9b;

$button: rgba(104, 104, 104, 0.5);
$button-light: rgba(104, 104, 104, 0.25);

$text-default: 2.1rem;

$text-md: 3.2rem;
$text-xl: 7rem;
$text-sm: 1.8rem;
$text-lg: 4rem;
$text-default-spacing: 2px;

$navbar-height: 72px;
$navbar-blur-height: 92px;
$navbar-mobile-background: rgb(#070707, 0.5);

$transition: 800ms;
$transition-delay: 200ms;
