.itclub-title {
  display: flex
}

.itclub-title b {
  font-weight: 500;
  transform: translateY(-3px);
  margin-left: 10px;
}

.itclub-title span {
  color: #999;
}


.itclub-preview__content {
  margin-left: 22px;
}

.itclub-preview {
  display: flex;
}

.text--title {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: .08em;
}
.itclub-member__image {
  max-height: 80px;
  border-radius: 20px;
}

.itclub-member {
  display: flex;
  margin-top: 20px
}

.itclub-member__content {
  margin-left: 16px;
}

.itclub-member__full-name {
  color: #FFF;
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: .08em;
}

.itclub-member__job {
  color: #FFFFFF;
  font-size: 2.4rem;
  letter-spacing: .08em;
  margin-top: 2px;
}

.itclub-member__wrapper {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}

.itclub-member__wrapper:first-child {
  margin-top: 0px;
}

.itclub-place {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start
}

.itclub-place h3 {
  color: #FFF;
  font-size: 2.4rem;
  letter-spacing: .08em;
  font-weight: 400;
  line-height: 140%;
}

.itclub-place br {
  height: 8px;
}

.itclub-place h4 {
  color: #9E9E9B;
  font-size: 2.4rem;
  letter-spacing: .08em;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
}

.itclub-place p {
  color: #FFFFFF;
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: .08em;
  line-height: 140%;
}

.itclub-place__address {
}

.itclub-place a {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: .08em;
  line-height: 140%;
  margin-bottom: 20px;
}

.itclub-place svg {
  height: 16px;
  width: 16px;
  margin-right: 6px;
}

.itclub-place a:hover {
  text-decoration: underline #9E9E9B
}

.itclub-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  background: rgba(37, 37, 37, 0.25);
  padding: 12px 22px;
  letter-spacing: .08em;
  font-size: 1.6rem;
  border-radius: 10px;
}

.itclub-badge__suffx {
  font-weight: 900;
  font-size: 3.2rem;
  color: #FFF;
  margin-top: 20px;
}

.itclub-badge__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2px;
}

.itclub-short-description {
  color: #FFF;
  font-size: 3rem;
  letter-spacing: .08em;
  font-weight: 300;
}

.itclub-short-description__bold {
  font-weight: 700;
}

.itclub-preview__image {
  max-width: 475px;
}

.itclub-content__mobile-wrapper {
  display: none;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 1023px) {
  .itclub-content__desktop {
    display: none;
  }

  .itclub-preview__row {
    flex-direction: column;
  }

  .itclub-preview {
    flex-direction: column
  }

  .col-8, .col-md-7, .col-4, .col-md-4, .col-11, .col-lg-11 {
    flex: none;
    max-width: none;
  }

  .offset-1 {
    margin-left: 0;
  }

  .itclub-preview__image {
    max-width: none;
  }

  .itclub-badge__wrapper {
    flex-direction: row;
    align-items: center;
  }

  .itclub-badge__suffx {
    margin-top: 0;
    margin-left: 0
  }

  .itclub-preview__content {
    margin-left: 0;
    margin-top: 20px;
  }

  .itclub-members {
    margin-top: 20px;
  }

  .itclub-content__mobile-wrapper {
    display: block
  }

  .itclub-content {
    margin-top: 40px;
  }
}

.itclub-title {
  display: flex;
}

.itclub-short-description__bold.itclub-short-description__bold {
  font-weight: 700;
}

.itclub-short-description {
  color: #FFF;
  font-size: 3rem;
  letter-spacing: .08em;
  font-weight: 300;
}

.text-color--white {
  color: #FFFFFF;
}

.title--70 {
  letter-spacing: .08em;
  font-size: 4rem;
  margin-bottom: 2rem;
}

@media (min-width: 992px) {
  .title--70 {
    font-size: 7rem;
    margin-top: -0.8rem;
    margin-bottom: 3rem;
  }
}

.title {
  font-family: 'Giorgio Sans LC',sans-serif;
  font-weight: 300;
  line-height: 1;
}

.text--title {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: .08em;
}

blockquote, figure, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.row {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1440px) {
  .row {
    padding: 0 40px;
  }
}

.itclub-read-more__svg {
  height: 9px;
  width: 14px;
  margin-left: 10px;
  transition: transform 0.2s;
}

.itclub-read-more.active .itclub-read-more__svg {
  transform: rotate(180deg)
}

.itclub-read-more__click {
  display: flex;
  color: #9E9E9B;
  font-size: 2.4rem;
  letter-spacing: .08em;
  align-items: center;
  margin-top: 2px;
  cursor: pointer;
}

.itclub-read-more__content {
  background-color: #1D1D1D;
  color: #FFF;
  max-width: 480px;
  font-size: 2.4rem;
  letter-spacing: .08em;
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
  display: none;
}

.itclub-read-more__content.active {
  display: block;
}

.itclub-member__wrapper {
  width: 480px;
}